@page
@model Project_PRN221.Pages.Orders.EditModel
@{
    ViewBag.Title = "edit order";
    Layout = "~/Pages/Shared/AdminLayout.cshtml";
}

<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Add, Edit Temp</h2>
            </div>

            <div class="col-3">
                <form method="get" action="" id="changeForm">
                    <input type="hidden" name="id" id="submitId" />
                </form>

                <form method="post" action="">

                    <input type="hidden" name="userId" value="@Model.Order.UserId" />
                    <input type="hidden" name="ShipmentDetailsId" value="@Model.Order.ShipmentDetailsId" />
                    <input type="hidden" name="Status" value="@Model.Order.Status" />

                    @{
                        string selectedValue = Model.userId;
                    }

                    <!-- ComboBox -->
                    <div class="mb-3">
                        <label for="category" class="form-label">User</label>
                        <select class="form-select"  id="userId" onchange="updateAddress()" asp-for="@Model.Order.UserId" disabled>
                            <option value="0">None</option>
                            @foreach (var item in Model.user)
                            {
                                <option value="@item.Id">@item.Username</option>
                            }

                        </select>
                    </div>
                    <!-- ComboBox -->
                    <div class="mb-3">
                        <label for="category" class="form-label">ShipmentAddress</label>
                        <select class="form-select"  id="shipId" disabled>
                            @if (Model.shipmentDetails != null)
                            {
                                @foreach (var item in Model.shipmentDetails)
                                {
                                    <option value="@item.Id">@item.Address</option>
                                }
                            }

                        </select>
                    </div>
                    <!-- ComboBox -->
                    <div class="mb-3">
                        <label for="category" class="form-label">OrderStatus</label>
                        <select name="orderStatus" onchange="this.form.submit()" asp-for="@Model.Order.Status" disabled>
                            <option value="0">Process</option>
                            <option value="1">Shipped</option>
                            <option value="2">In Route</option>
                            <option value="3">Complete</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Create At</label>
                        <input type="text" class="form-control" name="CreateAt" value="@Model.Order.CreateAt" readonly>
                    </div>
                    <!-- Float Price -->
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" step="0.01" class="form-control" id="price" name="TotalPrice" placeholder="Enter price" value="@Model.Order.TotalPrice">
                    </div>

                    <div class="mb-3">
                        <label for="name" class="form-label">Note</label>
                        <input type="text" class="form-control"  name="Note" value="@Model.Order.Note">
                    </div>

                    <button type="submit" onclick="confirmCreate()" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>



</body>

<script>
    function confirmCreate() {
        return confirm('Are you sure you want to create this item?');
    }
    function updateAddress() {
        var from = $("#userId").val();
        $("#submitId").val(from);
        $("#changeForm").submit();
    }
</script>
